In [1]:
from analysis.stats import availability_counts, load_books

In [2]:
books = load_books('data/books.csv')

In [5]:
df = availability_counts(books)
df

                     count  average price
availability rating
In stock     Five      196      35.374490
             Four      179      36.093296
             One       226      34.561195
             Three     203      34.692020
             Two       196      34.810918