In [6]:
from analysis.stats import availability_counts, load_books, summary_by_cluster

In [2]:
books = load_books('data/books.csv')

In [3]:
df = availability_counts(books)
df

                     count  average price
availability rating
In stock     Five      196      35.374490
             Four      179      36.093296
             One       226      34.561195
             Three     203      34.692020
             Two       196      34.810918

In [4]:
from analysis.stats import price_clustering
price_clustering(books)

,title,price,availability,rating,price_cluster
0,A Light in the ...,51.77,In stock,Three,2
1,Tipping the Velvet,53.74,In stock,One,2
2,Soumission,50.10,In stock,One,2
3,Sharp Objects,47.82,In stock,Four,2
4,Sapiens: A Brief History ...,54.23,In stock,Five,2
...,...,...,...,...,...
995,Alice in Wonderland (Alice's ...,55.53,In stock,One,2
996,"Ajin: Demi-Human, Volume 1 ...",57.06,In stock,Four,2
997,A Spy's Devotion (The ...,16.97,In stock,Five,0
998,1st to Die (Women's ...,53.98,In stock,One,2
999,"1,000 Places to See ...",26.08,In stock,Five,0

In [7]:
summary_by_cluster(books)

,count,mean,std,min,25%,50%,75%,max
price_cluster,,,,,,,,
0,335.0,18.279582,4.872033,10.00,14.0050,18.46,22.1100,26.80
1,340.0,35.628500,4.944659,27.06,31.2125,36.27,39.5575,43.70
2,325.0,51.793846,4.592913,43.87,47.8200,52.11,55.9100,59.99