In [6]:
from analysis.stats import availability_counts, load_books, summary_by_cluster

In [2]:
books = load_books('data/books.csv')

In [3]:
df = availability_counts(books)
df

                     count  average price
availability rating
In stock     Five      196      35.374490
             Four      179      36.093296
             One       226      34.561195
             Three     203      34.692020
             Two       196      34.810918

In [4]:
from analysis.stats import price_clustering
price_clustering(books)

,title,price,availability,rating,price_cluster
0,A Light in the ...,51.77,In stock,Three,2
1,Tipping the Velvet,53.74,In stock,One,2
2,Soumission,50.10,In stock,One,2
3,Sharp Objects,47.82,In stock,Four,2
4,Sapiens: A Brief History ...,54.23,In stock,Five,2
...,...,...,...,...,...
995,Alice in Wonderland (Alice's ...,55.53,In stock,One,2
996,"Ajin: Demi-Human, Volume 1 ...",57.06,In stock,Four,2
997,A Spy's Devotion (The ...,16.97,In stock,Five,0
998,1st to Die (Women's ...,53.98,In stock,One,2
999,"1,000 Places to See ...",26.08,In stock,Five,0

In [7]:
summary_by_cluster(books)

,count,mean,std,min,25%,50%,75%,max
price_cluster,,,,,,,,
0,335.0,18.279582,4.872033,10.00,14.0050,18.46,22.1100,26.80
1,340.0,35.628500,4.944659,27.06,31.2125,36.27,39.5575,43.70
2,325.0,51.793846,4.592913,43.87,47.8200,52.11,55.9100,59.99

In [8]:
products = load_books('data/products.csv')

In [9]:
products

,title,price,source
0,"SIHOO Doro S100 Chaise de Bureau Ergonomique, ...",319.99,https://www.cdiscount.com/maison/fauteuil-pouf...
1,"SIHOO Chaise de bureau, chaise de bureau ergon...",209.99,https://www.cdiscount.com/maison/fauteuil-pouf...
2,"SIHOO Doro S100 Chaise de Bureau Ergonomique, ...",319.99,https://www.cdiscount.com/maison/fauteuil-pouf...
3,SIHOO Doro C300 Chaise de Bureau Ergonomique a...,265.99,https://www.cdiscount.com/maison/fauteuil-pouf...
4,"Fauteuil de bureau, avec 2D Accoudoirs et Appu...",59.99,https://www.cdiscount.com/maison/fauteuil-pouf...
...,...,...,...
971,Chaise Gaming Ergonomique-Dowinx-Support Lomba...,229.99,https://www.cdiscount.com/maison/fauteuil-pouf...
972,Chaise Gaming Ergonomique - Dowinx - en Tissu ...,143.99,https://www.cdiscount.com/maison/fauteuil-pouf...
973,Chaise de Bureau Ergonomique SiÃ¨ge - Fauteuil ...,45.99,https://www.cdiscount.com/maison/fauteuil-pouf...
974,Chaise de Bureau Ergonomique en Maille Violet ...,62.99,https://www.cdiscount.com/maison/fauteuil-pouf...
975,Chaise Gaming Ergonomique - Dowinx - Support L...,219.99,https://www.cdiscount.com/maison/fauteuil-pouf...

In [10]:
from analysis.custom_stats import price_clustering
price_clustering(products)

,title,price,source,price_cluster
0,"SIHOO Doro S100 Chaise de Bureau Ergonomique, ...",319.99,https://www.cdiscount.com/maison/fauteuil-pouf...,1
1,"SIHOO Chaise de bureau, chaise de bureau ergon...",209.99,https://www.cdiscount.com/maison/fauteuil-pouf...,2
2,"SIHOO Doro S100 Chaise de Bureau Ergonomique, ...",319.99,https://www.cdiscount.com/maison/fauteuil-pouf...,1
3,SIHOO Doro C300 Chaise de Bureau Ergonomique a...,265.99,https://www.cdiscount.com/maison/fauteuil-pouf...,2
4,"Fauteuil de bureau, avec 2D Accoudoirs et Appu...",59.99,https://www.cdiscount.com/maison/fauteuil-pouf...,0
...,...,...,...,...
971,Chaise Gaming Ergonomique-Dowinx-Support Lomba...,229.99,https://www.cdiscount.com/maison/fauteuil-pouf...,2
972,Chaise Gaming Ergonomique - Dowinx - en Tissu ...,143.99,https://www.cdiscount.com/maison/fauteuil-pouf...,2
973,Chaise de Bureau Ergonomique SiÃ¨ge - Fauteuil ...,45.99,https://www.cdiscount.com/maison/fauteuil-pouf...,0
974,Chaise de Bureau Ergonomique en Maille Violet ...,62.99,https://www.cdiscount.com/maison/fauteuil-pouf...,0
975,Chaise Gaming Ergonomique - Dowinx - Support L...,219.99,https://www.cdiscount.com/maison/fauteuil-pouf...,2

In [11]:
summary_by_cluster(products)

,count,mean,std,min,25%,50%,75%,max
price_cluster,,,,,,,,
0,318.0,92.332704,29.948591,37.99,63.2125,94.99,122.82,138.05
1,114.0,407.505877,120.853954,296.55,324.1500,340.60,446.95,889.99
2,544.0,184.591746,34.327213,138.50,162.3500,176.70,199.00,293.95